// Conflicts of editor in React-Page builder : react page forces the white color for text but we don't want that
[class^="react-page"] {
  .ql-editor {
    color: black;
  }

  .react-page-plugins-content-image {
    object-fit: cover !important;
  }
}
